*{
    margin: 0px;
    padding: 0px;
    /* color: white; */
}

header{
    display: flex;
    height: 200px;
    width: 100vw;
    background-image: url('pics/manuel-CANL3bzp6wU-unsplash.jpg');
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    background-size: 100%;
    
}

body{
    /* background-image: url("pics/annie-spratt-6a3nqQ1YwBw-unsplash.jpg"); */
}

main{
    
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

h1{
    font-size: 500%;
    margin: 5%;
    font-family:'Times New Roman', Times, serif;
    /* -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(187, 43, 43); */
}

nav{
    display: flex;
    flex-direction: column;
    font-size: 275%;
    font-weight: 600;
    font-family:'Times New Roman', Times, serif;
    
}

#link1{
    font-size: 40px;
}

#link2{
    font-size: 30px;
}

#link3{
    font-size: 40px;
}

#link4{
    font-size: 30px;
}

#link5{
    font-size: 40px;
}

a:link{
    color:black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

a:visited{
    color: rgb(89, 89, 250);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    
}

#about{
    min-height: 25vh;
}

#skills{
    min-height: 25vh;
}

#projects{
    min-height: 35vh;
    
}

#contact{
    min-height: 35vh;
}

.scrollTarget:target{
    scroll-margin-top: 210px;
}

#spacer{
    height: 210px;
}

