*{
    margin: 0px;
    padding: 0px;
}



header{
    display: inline-flex;
    height: 20vh;
    width: 100%;
    background-image: url('pics/pexels-philippe-donn-1169754.jpeg');
    align-items: center;
    justify-content:space-around;
    position: fixed;
    top: 0px;
    left: 0px;
    background-size: 100%;
    z-index: 2;
  }

#spacer{
  height: 32%;
}

@media (max-width: 768px) {
  header {
    height: 15vh;
  }
}

main{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.name{
  display: inline-block;
  font-size: 8vw;
  margin: 5%;
  font-family:'Times New Roman', Times, serif;
  color: rgb(255, 255, 255);
}

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Montserrat Medium";
  max-width: 40ch;
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

nav{
    display:inline-flex;
    flex-direction: column;
    font-size: 3vh;
    font-weight: 550;
    font-family:'Times New Roman', Times, serif;
    
}

.text{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
}
.text2{
    font-size: 2vh;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

#link1{
    font-size: 3vh;
}

#link2{
    font-size: 3vh;
}

#link3{
    font-size: 3vh;
}

#link4{
    font-size: 3vh;
}

#link5{
    font-size: 3vh;
}

#link6{
  font-size: 3vh;
}

#about{
    min-height: 25vh;
    font-size: 2vh;
}

@media (max-width: 768px) {
  #about {
    margin-top: 140px;
  }
}

#skills{
    min-height: 25vh;
    font-size: 2vh;
    margin-top: 75px;
}

#projects{
    min-height: 25vh;
    font-size: 2vh;
    margin-top: 75px;
    
}

#contact{
    min-height: 25vh;
    margin-top: 50px;
    font-size: x-2vh;
}

.scrollTarget:target{
    scroll-margin-top: 210px;
}


.nav-links{
    color: rgb(255, 255, 255);
    list-style: none;
    text-decoration: none;
}

.nav-links:visited{
    color: rgb(255, 255, 255);
    list-style: none;
    text-decoration: none;
}

.project-links{
    color: rgb(0, 0, 0);
}

.project-links:visited{
    color: rgb(0, 0, 0);
}

.contact-links{
color: rgb(0, 0, 0);
}

.contact-links:visited{
color: rgb(0, 0, 0);
-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(207, 94, 94);
}
